/armstrong.exe
/arrayIntro.exe
/datatype.exe
/fibenacci.exe
/foorloop.exe
/functions.exe
/helloworld.exe
/ifelse.exe
/operators.exe
/Patternsample.exe
/primeusingfunction.exe
/reversenumber.exe
/sample.exe
/switch.exe